<section>
    <div class="h3-container">
        <h3>Vocabulaire</h3>
        <input type="text" id="searchVocabularyInput" placeholder="Rechercher..." #filterSearch>
    </div>

    <table id="tableVoc">
        <thead>
            <tr>
                <th class="table-voc-head">Nom</th>
                <th class="table-voc-head">Livre</th>
                <th class="table-voc-head">Chapitre</th>
                <th class="table-voc-head">Langues</th>
            </tr>
        </thead>

        <tbody>
            <tr class="blank-row"></tr>
            <tr class="voc-data-row" *ngFor="let voc of displayedArray" (click)="openModalOnVocClic(voc)">
                <td class="voc-data">{{voc.name}}</td>
                <td class="voc-data">{{voc.booksId}}</td>
                <td class="voc-data">{{voc.chapterId}}</td>
                <td class="voc-data">{{voc.id}}</td>
            </tr>
        </tbody>
    </table>

    <app-vocabulary-modal *ngIf=modalStatus()></app-vocabulary-modal>
</section>