section{
    background-image: url(https://wallpaperaccess.com/full/809178.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

h1{
    color: white;
    font-size: 6vh;
    width: 100vw;
    text-align: center;
    background-color: #a78080; 
    height: 15vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}